h1 🍲 この芋煮論争を終わらせに来た!!!
div.opening
  p
    strong イモニシャンクス：
  / ここに背景やイラストを表示
  = image_tag "imoni_shanks.png", alt: "イモニシャンクス", class: "opening-img"
  h2 「この戦争を終わらせに来た!!!」
  = link_to "はじめる", step1_questions_path, class: "btn btn-danger"